.slide{
    min-width: 100%;
    min-height: 100%;
    --bullet-background: rgb(35, 235, 8);
    --bullet-background-active: rgb(28, 139, 6);
    border: 0px solid #000;
}

.contenido{
    min-width: 100%;
}

.imagenes{
    width: 40vh;
    height: 40vh;
    margin: auto;
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    color: rgb(11, 44, 235);
    font-weight: bold;
}

.descripcion{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: rgb(19, 17, 17);
    text-align: center;
}